html, body {
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,102,178,1) 100%) no-repeat;
  background-size: cover;
}

.navbar {
  background: rgba(0,48,143,1);
}

.description {
  height: 100vh;
  overflow: scroll;
  position: sticky;
  top: 0;
}

.btn-group {
  width: fit-content;
}

.form-check {
  margin-bottom: 0;
}
